:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-title-color: #ffffff;
  --secondary-title-color: #2f303a;
  --accent-color: #2196f3;
}
body {
  text-decoration: none;
  background-color: var(--primary-title-color);
  color: var(--primary-text-color);
  font-family: Roboto, Raleway, sans-serif;
}
.list {
  list-style: none;
}
.topline {
  background-color: var(--primary-title-color);
}
.header-logo {
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
}
.web {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
}
.studio {
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
}
.site-nav a {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}
.style-link {
  color: var(--accent-color);
}
.style-link:hover,
.style-link:focus {
  color: var(--accent-color);
}
.contact-list {
  list-style: none;
}
.contacts {
  color: var(--secondary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}
.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}

.header-contact:hover,
.header-contact:focus {
  color: var(--accent-color);
}
.hero {
  background-color: var(--secondary-title-color);
}

.hero-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  background-color: var(--secondary-title-color);
  color: var(--primary-title-color);
}
.header-btn {
  color: var(--primary-title-color);
  background-color: var(--accent-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}

.header-btn:hover,
.header-btn:focus {
  cursor: pointer;
  background-color: #188ce8;
  color: var(--primary-title-color);
}
.section {
  list-style: none;
}

.feature-list {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 700;
  list-style: none;
}
.title-feature {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.feature {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}
.section-title {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  list-style: none;
}
.section-bg {
  background-color: #f5f4fa;
}
.team-card {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: var(--primary-text-color);
}
.team-card-text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  color: var(--secondary-text-color);
}
.footer {
  background-color: var(--secondary-title-color);
}
.footer-logo {
  color: var(--primary-title-color);
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
}
.web {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
}
.footer-list {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  color: var(--primary-title-color);
  text-decoration: none;
  list-style: none;
}
.title {
  visibility: hidden;
}
.btn {
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--primary-text-color);
  background: #f5f4fa;
  border-radius: 4px;
  list-style: none;
}
.btn-active {
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--primary-text-color);
  background: #f5f4fa;
  border-radius: 4px;
  list-style: none;
}
.btn-active:hover,
.btn-active:focus {
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: var(--accent-color);
  color: var(--primary-title-color);
  border-radius: 4px;
}
.project-list {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: var(--primary-text-color);
  list-style: none;
}
.project-text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-texx-color);
  list-style: none;
}
.address {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-title-color);
  text-decoration: none;
}
.list {
  list-style: none;
}
